
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/exo1.txt
/exo2.txt
/src/Controller/PanierController.php
/src/Controller/TestController.php
/src/Templates/Panier/produits.html.twig
/src/Templates/home/index.html.twig
/src/Templates/home/indexAut.html.twig
###< symfony/framework-bundle ###

