<h1>Salut, c'est {{ prenom ~ ' ' ~ nom }} ! Je suis dans la page test</h1>
{# on écrit une variable en twig entre {{ maVariable }} et on utilise le ~ pour
concatener #}

<h3>Liste des personnes</h3>

<ul>
  {% for personne in identite %}
  <li>{{ personne.nom ~ ' ' ~ personne.prenom }}</li>
  {% endfor %}
</ul>
